@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Bebas+Neue&family=Inconsolata&family=Kanit:wght@200&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bgOrange: #e84949;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    width: 1200px;
    margin: 0 auto; /*This makes the container allign to the center*/
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.logo{
    width: 80px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items a{
    color: black;
}
a{
    text-decoration: none;
}
.nav-items a:hover{
    font-weight: bold;
    transition: 0.3s;
}
.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}
.faded-text{
    user-select: none; /*This will make it non selectable to the user*/
    font-size: 7rem;
    color: rgb(231,231,231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem ;
}
 