*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(142, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.card{
    background-color: white;
    height: 70%;
    width: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.card img{
    height: 30%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    text-align: center;
}
.payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 12%;
    background-color: rgb(11, 84, 60);
    border-radius: 15px;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left img{
    height: 75%;
    width: 18%;
    margin: 10px;
}
.right{
    margin-right: 10px;
}
#paymentButton{
    width: 80%;
    height: 10%;
    background-color: rgb(121, 128, 251);
    border-radius: 15px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.cancel a{
    text-decoration: none;
    color: rgb(73, 69, 69);
    font-weight: bold;
    font-size: large;
}
