.container{
    height: 300px;
    width: 300px;
    background-color: gainsboro;
    margin: 100px;
}
.box{
    width: 100px;
    height: 100px;
}
.red{
    background-color: rgb(245, 72, 72);
    position: absolute;
}
.blue{
    background-color: rgb(91, 91, 238);
    position: relative;
    top: 100px;
    bottom: 100px;
    left: 100px;
}
.green{
    background-color: rgb(90, 237, 90);
}