.container{
    background-color: black;
}
#cards{
    border: 2px solid white;
    height: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
img{
    height: 350px;
    width: 200px;
}